@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
    --primary-color: #3A3A3A;
    --secondary-color: #;
    --black-color: rgba(0, 0, 0, 0.87);
    --white-color: #FFFFFF;
    --card-heading-color: #18191F;
    --card-rating-color: #5E6366;
    --card-para-color: #787885;
    --featured-heading-color: #0A0826;
    --featured-para-color: #6C6C6C;
    --primary-button-color: #E02C6D;
    --see-more-color: rgba(224, 44, 109, 0.87);
    --footer-para-color: #D9DBE1;
}

header,
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.primary-btn{
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    color: var(--white-color);
    background-color: var(--primary-button-color);
    border: none;
    cursor: pointer;
}
#banner-btn{
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}


/* main styles */

/* header section related styles */
.navbar{
    justify-content: space-between;
    padding-top: 30px;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
}
.nav-links{
    gap: 34px;
    justify-content: center;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}

/* banner section related styles */
.banner{
    max-width: 1188px;
    margin: 0 auto;
    gap: 133px;
    align-items: center;
    padding: 50px 0 69px 0;
}
.banner-info{
    max-width: 582px;
}
.banner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.b-i-1{
    position: relative;
}
.b-i-2{
    position: absolute;
    z-index: 1;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
    color: var(--primary-color);
    margin-bottom: 16px;
}
.banner-des{
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* company section related styles */
.company{
    justify-content: center;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    gap: 61px;
    padding: 36px 0;
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50%, rgba(192, 204, 218, 0.1) 100%) 1;
    margin-bottom: 100px;
}

/* collection section related styles */
.collection{
    max-width: 1047px;
    margin: 0 auto;
}
.collection-title{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.375rem;
    color: var(--primary-color);
    margin-bottom: 30px;
    text-align: center;
}
.collection-cards{
    margin-bottom: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.collection-card{
    padding: 17px 14px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: transform .3s ease-out .1s;
    -webkit-transition: transform .3s ease-out .1s;
    -moz-transition: transform .3s ease-out .1s;
    -ms-transition: transform .3s ease-out .1s;
    -o-transition: transform .3s ease-out .1s;
}
.collection-card:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.card-image{
    margin-bottom: 16px;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: var(--card-heading-color);
    margin-bottom: 6px;
}
.price{
    font-family: inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--black-color);
    margin-bottom: 10px;
}
.ratings{
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}
.stars{
    gap: 3px;
    align-items: center;
}
.stars i{
    font-size: 1rem;
    color: #FB8200;
}
.rate{
    font-family: roboto;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 0.1px;
}
.avail{
    font-family: inter;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: .5px;
}
.see-more{
    gap: 6px;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.see{
    font-size: 1rem;
    font-weight: 700;
}
.see,i{
    color: #E02C6D;
}

.featured-product{
    max-width: 1110px;
    margin: 100px auto;
}
.product-container{
    justify-content: center;
    align-items: center;
    gap: 96px;
}
.product-info{
    max-width: 610px;
}
.product-title{
    font-size: 2.375rem;
    line-height: 3.75rem;
    color: var(--featured-heading-color);
    margin-bottom: 16px;
}
.product-des{
    line-height: 1.75rem;
    color: var(--featured-para-color);
    margin-bottom: 16px;
}

footer{
    background-color: #000000;
    text-align: center;
    padding: 50px 0;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 5px;
}
.footer-des-1,
.footer-des-2{
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--footer-para-color);
    margin-bottom: 3px;
}
.footer-des-2{
    margin-bottom: 17px;
}
.footer-icons{
    justify-content: center;
    align-items: center;
    gap: 16px;
}