@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
    --primary-color: #3A3A3A;
    --secondary-color: #;
    --black-color: rgba(0, 0, 0, 0.87);
    --white-color: #FFFFFF;
    --card-heading-color: #18191F;
    --card-rating-color: #5E6366;
    --card-para-color: #787885;
    --featured-heading-color: #0A0826;
    --featured-para-color: #6C6C6C;
    --primary-button-color: #E02C6D;
    --see-more-color: rgba(224, 44, 109, 0.87);
    --footer-para-color: #D9DBE1;
}

header,
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.primary-btn{
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    color: var(--white-color);
    background-color: var(--primary-button-color);
    border: none;
    cursor: pointer;
}
#banner-btn{
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}


/* main styles */

/* header section related styles */
.navbar{
    justify-content: space-between;
    padding-top: 30px;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
}
.nav-links{
    gap: 34px;
    justify-content: center;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}

/* banner section related styles */
.banner{
    max-width: 1188px;
    margin: 0 auto;
    gap: 133px;
    align-items: center;
    padding: 50px 0 69px 0;
}
.banner-info{
    max-width: 582px;
}
.banner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.b-i-1{
    position: relative;
}
.b-i-2{
    position: absolute;
    z-index: 1;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
    color: var(--primary-color);
    margin-bottom: 16px;
}
.banner-des{
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 16.1px;
}